<h1>WW Gradebook</h1>

<div class="intro">

<h2>Getting Started</h2>

<p><%= link_to 'Create an account with your email address.', new_user_registration_path %></p>

<p>Create courses with your student rosters and standards.</p>

<%= image_tag 'course.png', class: 'img-responsive' %>

<p>Add assignments connected to certain standards.</p>

<%= image_tag 'new-assignment.png', class: 'img-responsive' %>

<p>Create each student's grade entry for a specific assignment.</p>

<%= image_tag 'new-grade-entry.png', class: 'img-responsive' %>

<p>View student grades organized by frequency and by standards.</p>

<%= image_tag 'student.png', class: 'img-responsive' %>

<p>View student assignments and record comments.</p>

<%= image_tag 'student-grades-comments.png', class: 'img-responsive' %>

<h2><%= link_to 'Get started!', new_user_registration_path %></h2>

</div>