<h1>Create a New Assignment</h1>

<%= simple_form_for @assignment, url: course_assignments_path(course_id: @course.id) do |f| %>
  <%= f.input :name %>
  <p>Please check the standards that this assignment evaluates.</p>

  <p>Standard 1. <%= @course.standard1 %> <%= f.input :has_standard1 %></p>
  <p>Standard 2. <%= @course.standard2 %> <%= f.input :has_standard2 %></p>
  <p>Standard 3. <%= @course.standard3 %> <%= f.input :has_standard3 %></p>
  <p>Standard 4. <%= @course.standard4 %> <%= f.input :has_standard4 %></p>
  <p>Standard 5. <%= @course.standard5 %> <%= f.input :has_standard5 %></p>
  <p>Standard 6. <%= @course.standard6 %> <%= f.input :has_standard6 %></p>
  <p>Standard 7. <%= @course.standard7 %> <%= f.input :has_standard7 %></p>
  <p>Standard 8. <%= @course.standard8 %> <%= f.input :has_standard8 %></p>
  <p>Standard 9. <%= @course.standard9 %> <%= f.input :has_standard9 %></p>
  <p>Standard 10. <%= @course.standard10 %> <%= f.input :has_standard10 %></p>
  <p>Standard 11. <%= @course.standard11 %> <%= f.input :has_standard11 %></p>
  <p>Standard 12. <%= @course.standard12 %> <%= f.input :has_standard12 %></p>
  <br/>
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
