<p>Back to <%= @course.name %></p>

<h1><%= @assignment.name %></h1>

<h2>Standards</h2>

<% if @assignment.has_standard1? %>
  <p>1. <%= @course.standard1 %></p>
<% end %>

<% if @assignment.has_standard2? %>
  <p>2. <%= @course.standard2 %></p>
<% end %>

<% if @assignment.has_standard3? %>
  <p>3. <%= @course.standard3 %></p>
<% end %>

<% if @assignment.has_standard4? %>
  <p>4. <%= @course.standard4 %></p>
<% end %>

<% if @assignment.has_standard5? %>
  <p>5. <%= @course.standard5 %></p>
<% end %>

<% if @assignment.has_standard6? %>
  <p>6. <%= @course.standard6 %></p>
<% end %>

<% if @assignment.has_standard7? %>
  <p>7. <%= @course.standard7 %></p>
<% end %>

<% if @assignment.has_standard8? %>
  <p>8. <%= @course.standard8 %></p>
<% end %>

<% if @assignment.has_standard9? %>
  <p>9. <%= @course.standard9 %></p>
<% end %>

<% if @assignment.has_standard10? %>
  <p>10. <%= @course.standard10 %></p>
<% end %>

<% if @assignment.has_standard11? %>
  <p>11. <%= @course.standard11 %></p>
<% end %>

<% if @assignment.has_standard12? %>
  <p>12. <%= @course.standard12 %></p>
<% end %>
