<br/>
<p>
  <%= link_to student_path(@student) do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to <%= @student.first_name %> <%= @student.last_name %>
  <% end %>
</p>

<h1><%= @entry.assignment_name %></h1>

<h2>Standards</h2>

<% if @entry.assignment_obj.has_standard1? %>
  <p>1. <%= @course.standard1 %>: <b><%= @entry.standard1_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard2? %>
  <p>2. <%= @course.standard2 %>: <b><%= @entry.standard2_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard3? %>
  <p>3. <%= @course.standard3 %>: <b><%= @entry.standard3_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard4? %>
  <p>4. <%= @course.standard4 %>: <b><%= @entry.standard4_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard5? %>
  <p>5. <%= @course.standard5 %>: <b><%= @entry.standard5_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard6? %>
  <p>6. <%= @course.standard6 %>: <b><%= @entry.standard6_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard7? %>
  <p>7. <%= @course.standard7 %>: <b><%= @entry.standard7_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard8? %>
  <p>8. <%= @course.standard8 %>: <b><%= @entry.standard8_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard9? %>
  <p>9. <%= @course.standard9 %>: <b><%= @entry.standard9_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard10? %>
  <p>10. <%= @course.standard10 %>: <b><%= @entry.standard10_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard11? %>
  <p>11. <%= @course.standard11 %>: <b><%= @entry.standard11_grade %></b></p>
<% end %>

<% if @entry.assignment_obj.has_standard12? %>
  <p>12. <%= @course.standard12 %>: <b><%= @entry.standard12_grade %></b></p>
<% end %>

<h2>Comments</h2>

<% if @entry.comment? %>
  <p><%= @entry.comment %></p>
<% else %>
  <p>Click "Edit Grade Entry" to add a comment.</p>
<% end %>

<%= link_to edit_student_entry_path(@student, @entry) do %>
  <button class="btn btn-primary">Edit Grade Entry</button>
<% end %>
<%= link_to student_entry_path(@student, @entry), method: :delete, data: {confirm: 'Are you sure you want to delete this grade entry?'} do %>
  <button class="btn btn-danger">Delete Grade Entry</button>
<% end %>
