<h1><%= @student.first_name %> <%= @student.last_name %></h1>

<h5>Grades by Frequency</h5>

<p>
  <b>Mastery</b>: <%= @student.m_percentage %>%<br/>
  <b>Approaching Mastery</b>: <%= @student.am_percentage %>%<br/>
  <b>Developing Competence</b>: <%= @student.dc_percentage %>%<br/>
  <b>Not Demonstrating Competence</b>: <%= @student.ndc_percentage %>%
</p>

<h5>Grades by Standards</h5>

<p>1. <%= @course.standard1 %>: <b><%= @student.standard1_avg %></b><br/>
2. <%= @course.standard2 %>: <b><%= @student.standard2_avg %></b><br/>
3. <%= @course.standard3 %>: <b><%= @student.standard3_avg %></b><br/>
4. <%= @course.standard4 %>: <b><%= @student.standard4_avg %></b><br/>
5. <%= @course.standard5 %>: <b><%= @student.standard5_avg %></b><br/>
6. <%= @course.standard6 %>: <b><%= @student.standard6_avg %></b><br/>
7. <%= @course.standard7 %>: <b><%= @student.standard7_avg %></b><br/>
8. <%= @course.standard8 %>: <b><%= @student.standard8_avg %></b><br/>
9. <%= @course.standard9 %>: <b><%= @student.standard9_avg %></b><br/>
10. <%= @course.standard10 %>: <b><%= @student.standard10_avg %></b><br/>
11. <%= @course.standard11 %>: <b><%= @student.standard11_avg %></b><br/>
12. <%= @course.standard12 %>: <b><%= @student.standard12_avg %></b><br/>
</p>

<h2>Grades</h2>

<% if @entries.empty? %>
<p>No grades to display.</p>
<% else %>
<% @entries.sort{|a,b| b.created_at <=> a.created_at}.each do |entry| %>
<blockquote> <%= link_to student_entry_path(@student, entry), method: :delete, data: {confirm: 'Are you sure you want to delete this grade entry?'} do %>
  <i class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
  <%= link_to edit_student_entry_path(@student, entry) do %>
  <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
<b>
  <%= entry.created_at.strftime('%b %e, %Y') %> - 
    <%= link_to student_entry_path(@student, entry) do %>
      <%= entry.assignment_name %>
    <% end %>
</b>
<br/>
  
</blockquote>
<% end %>
<% end %>

<p><%= link_to 'New Grade Entry', new_student_entry_path(@student), class: 'btn btn-primary' %></p>

<h2>Comments</h2>

<% if @comments.empty? %>
<p>No comments to display.</p>
<% else %>
<% @comments.sort{|a,b| b.created_at <=> a.created_at}.each do |comment| %>
<blockquote> <%= link_to student_comment_path(@student, comment), method: :delete, data: {confirm: 'Are you sure you want to delete this comment?'} do %>
  <i class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
  <%= link_to edit_student_comment_path(@student, comment) do %>
  <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
<b>
  <%= comment.created_at.strftime('%b %e, %Y') %>
</b>
<br/>
  <%= comment.message %>
</blockquote>
<% end %>
<% end %>

<!-- New comment trigger modal -->
<p><button class="btn btn-primary" id="new-comment" data-toggle="modal" data-target="#newCommentModal">New Comment</button></p>

<!-- New comment modal -->
<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newCommentModalLabel">Add a new comment about <%= @student.first_name %></h4>
      </div>
      <%= simple_form_for @comment, url: student_comments_path(@student), html: {id: 'newCommentForm'} do |f| %>
      <div class="modal-body">
          <%= f.input :message %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

