<h1><%= @course.name %></h1>

<h2>Students</h2>

<h2>Assignments</h2>

<h2>Standards</h2>

<ol>
  <li> <%= @course.standard1 %> </li>
  <li> <%= @course.standard2 %> </li>
  <li> <%= @course.standard3 %> </li>
  <li> <%= @course.standard4 %> </li>
  <li> <%= @course.standard5 %> </li>
  <li> <%= @course.standard6 %> </li>
  <li> <%= @course.standard7 %> </li>
  <li> <%= @course.standard8 %> </li>
  <li> <%= @course.standard9 %> </li>
  <li> <%= @course.standard10 %> </li>
  <li> <%= @course.standard11 %> </li>
  <li> <%= @course.standard12 %> </li>
</ol>

<%= link_to 'Edit Course', edit_course_path(@course), class: 'btn btn-primary' %>
