<br/>
<p>
  <%= link_to courses_path do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to my courses
  <% end %>
</p>

<h1><%= @course.name %></h1>

<h2>Students</h2>

<% if @course.students.empty? %>
  <p>No students to display.</p>
<% else %>
  <% @course.students.order("last_name").each do |student| %>
    <p>
      <%= link_to student_path(student), method: :delete, data: {confirm: 'Are you sure you want to delete this student?'} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= link_to edit_student_path(student) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to student_path(student) do %>
        <%= student.last_name %>, <%= student.first_name %>
      <% end %>
    </p>
  <% end %>
<% end %>

<!-- New comment trigger modal -->
<p><button class="btn btn-primary" id="new-student" data-toggle="modal" data-target="#newStudentModal">New Student</button></p>

<br/>
<h2>Assignments</h2>

<% if @course.assignments.empty? %>
  <p>No assignments to display.</p>
<% else %>
  <% @course.assignments.order('created_at DESC').each do |assignment| %>
    <p>
      <%= link_to assignment_path(assignment), method: :delete, data: {confirm: 'Are you sure you want to delete this assignment?'} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= link_to edit_assignment_path(assignment) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to assignment_path(assignment) do %>
        <%= assignment.name %>
      <% end %>
    </p>
  <% end %>
<% end %>

<p><%= link_to 'New Assignment', new_course_assignment_path(@course), class: 'btn btn-primary' %></p>

<br/>
<h2>Standards</h2>

<ol>
  <li> <%= @course.standard1 %> </li>
  <li> <%= @course.standard2 %> </li>
  <li> <%= @course.standard3 %> </li>
  <li> <%= @course.standard4 %> </li>
  <li> <%= @course.standard5 %> </li>
  <li> <%= @course.standard6 %> </li>
  <li> <%= @course.standard7 %> </li>
  <li> <%= @course.standard8 %> </li>
  <li> <%= @course.standard9 %> </li>
  <li> <%= @course.standard10 %> </li>
  <li> <%= @course.standard11 %> </li>
  <li> <%= @course.standard12 %> </li>
</ol>

<p>
<%= link_to 'Edit Course', edit_course_path(@course), class: 'btn btn-primary' %>
<%= link_to 'Delete Course', course_path(@course), method: :delete, data: {confirm: 'Are you sure you want to delete this course?'},class: 'btn btn-danger' %>
</p>


<!-- New student modal -->
<div class="modal fade" id="newStudentModal" tabindex="-1" role="dialog" aria-labelledby="newStudentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newStudentModalLabel">Add a new student</h4>
      </div>
      <div class="modal-body">
      <%= simple_form_for @student, url: course_students_path(@course), html: {id: 'newStudentForm'} do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
